/* =========================
   サイト全体
========================= */

html,
body,
#root {
    margin: 0;
    padding: 0;
    background-color: #07248a;
    color: white;
    scrollbar-width: none;
    font-family: Arial, sans-serif;
    width: 100%;
    min-height: 100%; 
    background:
    radial-gradient(
      circle at 15% 25%,
      rgba(255, 255, 255, 0.35) 0 100px,
      transparent 101px
    ),

    radial-gradient(
      circle at 85% 70%,
      rgba(0, 255, 180, 0.25) 0 180px,
      transparent 181px
    ),

    linear-gradient(
      135deg,
      #2de11c,
      #55e99b
    );
}
html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar {
  display: none;
}

* {
    box-sizing: border-box;
}

.pr-body {
    min-height: 100vh;
}



.game-container {
  width: 100%;
  max-width: 100vw;
  margin: 0 auto;
}


.main-box{
    position: sticky;
    top: 0;
    border: none;
    width: 100%;
    padding: 10px;
}

/* =========================
   ホーム
========================= */
.home-main {
  min-height: calc(100vh - 180px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  position: relative;
}


/* PLAY SHARE RISE */
.home-badge {
  padding: 8px 18px;

  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 100px;

  font-size: 11px;
  font-weight: bold;

  letter-spacing: 4px;

  color: white;

  margin-bottom: 25px;
}


/* PLAYRIZE */
.home-main h1 {
  margin: 0;

  font-size: clamp(60px, 8vw, 130px);
  font-weight: 900;

  letter-spacing: -5px;

  color: rgb(22, 20, 20);

  line-height: 0.9;
}


/* RIZEだけ少し変える */
.home-main h1 span {
  color: transparent;

  -webkit-text-stroke: 2px rgb(19, 12, 12);
}


/* YOUR NEXT GAME... */
.home-sub {
  margin-top: 25px;

  font-size: 13px;
  font-weight: bold;

  letter-spacing: 7px;

  color: rgba(255, 255, 255, 0.7);
}


/* 説明 */
.home-text {
  margin-top: 30px;

  font-size: 16px;

  line-height: 2;

  color: rgb(0, 0, 0);

  font-weight: bold;
}


/* ボタンを横並び */
.home-buttons {
  display: flex;

  gap: 15px;

  margin-top: 35px;
}


/* PLAY GAME */
.home-button {
  min-width: 180px;

  padding: 16px 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: white;

  color: #111;

  text-decoration: none;

  border-radius: 100px;

  font-weight: bold;

  transition: 0.25s;
}


.home-button:hover {
  transform: translateY(-4px);

  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}


/* SHOP */
.home-shop-button {
  min-width: 100px;

  padding: 16px 25px;

  border: 1px solid rgba(22, 14, 14, 0.5);

  border-radius: 100px;

  color: rgb(5, 4, 4);

  text-decoration: none;

  font-weight: bold;

  transition: 0.25s;
}


.home-shop-button:hover {
  background: white;

  color: #111;
}


/* 下のSCROLL */
.home-scroll {
  position: absolute;

  bottom: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 8px;
}


.home-scroll span {
  font-size: 9px;

  letter-spacing: 3px;

  color: rgba(0, 0, 0, 0.6);
}


.scroll-line {
  width: 1px;
  height: 35px;

  background: rgba(0, 0, 0, 0.5);
}


/* =========================
   Log in,signupbutボタン
========================= */

.loginbut{
    margin:0px;
    height: 50px;
    width: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 300px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
    background: transparent;
    color: #111;
    border: 1px solid #555;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-sizing: border-box;
    display: none;
}
.signupbut{
    margin: 0 15px 0 0;
    width: 100px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 400px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #7c3aed;
    color: white;
    background: #7c3aed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-sizing: border-box;
    display: none;
}



/* =========================
   PC用：ヘッダー
========================= */


.main-box{
    z-index: 1000;
}

.pr-header {
    position: relative;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background: rgba(220, 224, 219, 0.5);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.12);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}


.PLAYRIZE-logo{
    margin: 0;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

/* PLAYRIZEタイトル */

.pr-title {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 70px;
    transform: translateY(-50%);
    color: black;
    
}

.pr-title a {
  color: inherit;
  text-decoration: none;
}


/* =========================
   ハンバーガーボタン
========================= */

.hg-but {
    display: inline-flex;
    flex-direction: column;

    position: absolute;
    top: 50%;
    right: 20px;

    transform: translateY(-50%);

    background: none;
    border: none;
    padding: 0;

    cursor: pointer;
    outline: none;
    display: none;
}


/* ハンバーガーの3本線 */

.hg-but span {
    display: block;

    width: 35px;
    height: 4px;

    margin: 4px auto;

    background-color: black;
}


/* =========================
   サイドメニュー
========================= */

.side-menu {
    display: none;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 70px;
    right: 10px;

    gap: 5px;

    padding: 10px;

    background-color: #c6c6c6;

    border-radius: 5px;

    z-index: 100;
}


/* Reactでopenが付いたとき表示 */

.side-menu.open {
    display: inline-flex;
}


/* サイドメニューのボタン */

.side-menutitle {
    display: block;

    width: 150px;

    padding: 10px;

    background-color: #333;
    color: white;

    text-align: center;
    text-decoration: none;

    border-radius: 5px;

    font-size: 20px;
    font-weight: bold;
}


/* マウスを乗せたとき */

.side-menutitle:hover {
    background-color: #555;
}


/* =========================
   GAME / SHOP
========================= */
.ngmenus-box{
    background: #ffffff;
    margin: 20px 20px 20px 20px;
    border-radius: 20px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}

.ngmenus {
    display: flex;

    justify-content: center;

    gap: 20px;

    margin: 0;
    padding: 25px;
    
}



.ng-menu {
    color: rgb(18, 15, 15);

    font-size: 25px;

    text-decoration: none;

    position: sticky;
    top: 0;
    font-weight: bold;
}



/* =========================
   区切り線
========================= */



/* =========================
   ゲーム画面列
========================= */
.games-text{
    text-align: center;
    margin: 25px 0 0 0;
}

.game-controlsbox{
    width: 100%;
    height: 70px;
}

.game-controls{
  padding: 0px 20px 0px; 
  display: flex;
  width: 100%;
  gap: 20px;
  filter: drop-shadow(0 8px 8px rgba(0, 0, 0, 0.4));
  
}

.kensaku{
  border-radius: 15px;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fdfafa;
  outline-offset: 1px ;
  padding: 10px 1rem;
  transition: 0.25s;
  width: 300px;
  
}
.category-select{
  width: 300px;
  height: 50px;

  padding: 0 16px;

  background-color: #ffffff;
  color: rgb(3, 3, 3);

  border: none;
  border-radius: 8px;

  font-size: 20px;
  font-weight: bold;

  cursor: pointer;
  
}

.kensaku:focus {
  outline-offset: 5px;
  background-color: #fff
}




.games-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  padding: 25px;
}

.menubar {
    aspect-ratio: 16 / 9;
    background: #fffcfc;
    border-radius: 20px;
    display: flex;
  justify-content: center; /* 横の中央 */
  align-items: center;
  overflow: hidden; /* ← 追加 */
}

.menubar video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.game-preview {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}

/* マウスを乗せたとき */
.game-preview:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}

.game-preview img,
.game-preview video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}



.game-preview video {
  position: absolute;
  top: 0;
  left: 0;
}



/* =========================
   GAMEプレイ画面
========================= */


.game-frame {
  border: none;
  display: block;
  width: 100vw;
  height: 100dvh;

}

/* =========================
   フッター
========================= */

.footer {
  background: white;
  padding: 10px 10px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-logo img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.footer-logo span {
  font-size: 28px;
  font-weight: 800;
  color: #111;
}

.x-share{
    margin: 0px;
    background: none;
    padding: 0px;
    border: none;
    cursor: pointer;
    width: 200px;
}

.x-share img{
    width: 100%;
    height: 10%;
    margin: 0px;
}

/* =========================
   スマホ用
========================= */

@media (max-width: 600px) {

    /* PLAYRIZE */

    .pr-title {
        left: px;

        font-size: 30px;
    }


    /* ヘッダー */

    .pr-header {
        height: 40px;
    }


    /* ハンバーガーボタン */

    .hg-but {
        right: 10px;
    }


    /* ハンバーガー3本線 */

    .hg-but span {
        width: 30px;
        height: 2px;

        margin: 3px auto;
    }


    /* GAME / SHOP */

    .ngmenus {
        padding: 15px;
    }


    .ng-menu {
        font-size: 20px;
    }
    

    /* スマホのサイドメニュー */

    .side-menu {
        top: 50px;
        right: 10px;
    }

    /* ゲーム画面ゲーム列 */

    .games-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      padding: 20px;
      
    }


    .game-card img {
      width: 100%;
      aspect-ratio: 16 / 10;
      object-fit: cover;
      display: block;
      border-radius: 20px;
    }
    .loginbut{
        width: 50px;
        height: 25px;
        right: 60px;
        font-size: 12px;
    }
   .signupbut{
        width: 50px;
        height: 25px;
        font-size: 10px;
        right: 105px;
   }

   .games-text{
        text-align: center;
        margin: 25px 0px 0px 150px;
        
    }

.kensaku{
    border-radius: 15px;
    border: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f1efef;
    outline-offset: 3px;
    padding: 10px 1rem;
    transition: 0.25s;
    width: 150px;
  
    }
.kensaku:focus {
    outline-offset: 7px;
    background-color: #fff
    }

    .category-select{
        width: 100%;
        height: 45px;
        box-sizing: border-box;
}

.ngmenus-box{
    background: #ffffff;
    
}

.game-controls{
  padding: 0px 20px 0px; 
  display: flex;
  width: 100%;
  gap: 20px;

  
}

.menubar img{
  width: 75px;
  height: 75px;

}

.x-share img{
    width: 50%;
    height: 50%;
    
}

}


/* =========================
   テスト
========================= */



/* =========================
   ゲームカテゴリー
========================= */
